---
layout: default
---
<!-- Blog index page for posts under /blog/_posts -->
<div class="container">
  <h1>My Blog Posts</h1>
  <ul>
    {% for post in site.posts %}
      <li>
        <div class="blog-title"><a class="blog-link" href="{{ post.url }}">{{ post.title }}</a></div>
        <div class="blog-meta">{{ post.date | date: "%B %d, %Y" }}</div>
      </li>
    {% endfor %}
  </ul>
  {% if site.posts == empty %}
    <div class="no-posts">No blog posts found.</div>
  {% endif %}
  <a href="../index.html" style="display:block; margin-top:2.5rem; color:#555;">&larr; Back to Home</a>
</div>
